<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>tests/Integration</directory>
    </testsuite>
    <testsuite name="Console">
      <directory>tests/Console</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="LIGHTHOUSE_TEST_DB_DATABASE" value="test"/>
    <env name="LIGHTHOUSE_TEST_DB_HOST" value="mysql"/>
    <env name="LIGHTHOUSE_TEST_DB_PORT" value="3306"/>
    <env name="LIGHTHOUSE_TEST_DB_USERNAME" value="root"/>
    <env name="LIGHTHOUSE_TEST_DB_PASSWORD" value=""/>
    <env name="LIGHTHOUSE_TEST_REDIS_HOST" value="redis"/>
    <env name="LIGHTHOUSE_TEST_REDIS_PASSWORD" value="null"/>
    <env name="LIGHTHOUSE_TEST_REDIS_PORT" value="6379"/>
    <env name="LIGHTHOUSE_TEST_REDIS_DB" value="0"/>
  </php>
</phpunit>
