<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/Unit/</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./tests/Integration/</directory>
        </testsuite>
        <testsuite name="Console">
            <directory>./tests/Console/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="LIGHTHOUSE_TEST_DB_DATABASE" value="test"/>
        <env name="LIGHTHOUSE_TEST_DB_HOST" value="mysql"/>
        <env name="LIGHTHOUSE_TEST_DB_USERNAME" value="root"/>
        <env name="LIGHTHOUSE_TEST_DB_PASSWORD" value=""/>
        <env name="LIGHTHOUSE_TEST_REDIS_HOST" value="redis"/>
        <env name="LIGHTHOUSE_TEST_REDIS_PASSWORD" value="null"/>
        <env name="LIGHTHOUSE_TEST_REDIS_PORT" value="6379"/>
        <env name="LIGHTHOUSE_TEST_REDIS_DB" value="0"/>
    </php>
</phpunit>
