body
  font-family Nunito !important
  background-color #fbfbfb

/****************************** 
  HOME
*******************************/

.home .highlights
  padding 1.2rem 0
  margin-top 1rem
  display flex
  flex-wrap wrap
  align-items flex-start
  align-content stretch
  justify-content space-between

.home .highlight 
  flex-grow 1  
  max-width 48%
  
  @media (max-width 719px)
    max-width: 100% !important

.home .highlight h2           
  font-weight 800
  border none !important
  margin-top 10px

.home .feature h2
  font-weight 800 !important
  
  
/****************************** 
  CONTENT
*******************************/

  .content img
    border #f3f3f3 1px solid !important
    border-radius 6px !important

/****************************** 
  HERO
*******************************/

.home .hero img
  height 120px !important
  

/****************************** 
  PAGE
*******************************/

@media (min-width 719px)
  .page
    padding-left 17rem

/****************************** 
  NAVBAR
*******************************/

.navbar  
  border-bottom none !important
  box-shadow 0 2px 4px 0 rgba(0,0,0,.05) !important


.navbar .site-name
  font-weight 800 !important


.nav-link, .repo-link , .nav-links .dropdown-title
  font-weight 800 !important


/****************************** 
  BLOCKS
*******************************/

.custom-block-title
  font-weight 800 !important

.custom-block.danger 
  background-color #fff6f6 !important
  border-color #ffe6e6 !important


.custom-block.warning 
  background-color rgba(239, 224, 153, 0.3) !important
  border-color #ecd45a !important

.custom-block.tip 
  border-color #cec3d6 !important


/****************************** 
  SIDEBAR
*******************************/

#app .sidebar     
  width  17rem !important
  border-right none !important
  background-color transparent !important
  background-image linear-gradient(0deg, #907f92, #2e1b33) !important


 .sidebar-group:not(.collapsable) .sidebar-heading,
  .sidebar-heading
    text-transform uppercase !important
    letter-spacing 0.13rem !important
    font-size 12px !important
    font-weight 800 !important
    color #C1CDDB !important

  a.sidebar-link
    color #fff !important
    border-left 0.125rem solid transparent !important

  a.sidebar-link:hover
    color #fff !important
    opacity 0.5 !important
    border-left-color rgba(255, 255, 255, 0.7) !important

  a.sidebar-link:active
    color #fff !important
    opacity 0.7 !important
    border-left-color rgba(255, 255, 255, 0.5) !important

  a.sidebar-link.active
    color #fff !important
    border-left-color rgba(255, 255, 255, 0.5) !important


  @media (max-width 959px)
    .sidebar .nav-links
      border-bottom 2px solid rgba(255, 255, 255, 0.1)

  @media (max-width 719px)
    .nav-links a.nav-link, .nav-links a.repo-link, .nav-links .dropdown-title
      color #fff