name: "Validate"
on:
  pull_request:
  push:
    branches:
      - 5.x

env:
  REQUIRED_PHP_EXTENSIONS: mbstring, mysqli, pdo_mysql, redis
  LIGHTHOUSE_TEST_DB_USER: root
  LIGHTHOUSE_TEST_DB_PASSWORD: root
  LIGHTHOUSE_TEST_DB_HOST: localhost
  LIGHTHOUSE_TEST_DB_UNIX_SOCKET: /var/run/mysqld/mysqld.sock
  LIGHTHOUSE_TEST_REDIS_HOST: 127.0.0.1

# Using ubuntu-18.04 because it has MySQL 5.7.
# TODO switch to MySQL 8 https://github.com/nuwave/lighthouse/issues/1784

jobs:
  static-analysis:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - 7.2
          - 7.3
          - 7.4
          - 8.0
          - 8.1
          # Omitted due to failures that can only be fixed with webonyx/graphql-php:15
          # - 8.2
        laravel-version:
          - ^6
          - ^7
          - ^8
          - ^9
          - ^10
        exclude:
          - php-version: 7.2
            laravel-version: ^8
          - php-version: 7.2
            laravel-version: ^9
          - php-version: 7.3
            laravel-version: ^9
          - php-version: 7.2
            laravel-version: ^10
          - php-version: 7.3
            laravel-version: ^10
          - php-version: 7.4
            laravel-version: ^9
          - php-version: 7.4
            laravel-version: ^10
          - php-version: 8.0
            laravel-version: ^6
          - php-version: 8.0
            laravel-version: ^7
          - php-version: 8.0
            laravel-version: ^10
          - php-version: 8.1
            laravel-version: ^6
          - php-version: 8.1
            laravel-version: ^7
          - php-version: 8.2
            laravel-version: ^6
          - php-version: 8.2
            laravel-version: ^7

    steps:
      - uses: actions/checkout@v3

      - uses: shivammathur/setup-php@v2
        with:
          coverage: none
          extensions: ${{ env.REQUIRED_PHP_EXTENSIONS }}
          php-version: ${{ matrix.php-version }}

      - name: "Cache composer dependencies"
        uses: actions/cache@v3
        with:
          path: ~/.composer/cache
          key: php-${{ matrix.php-version }}-composer-${{ matrix.laravel-version }}
          restore-keys: php-${{ matrix.php-version }}-composer-${{ matrix.laravel-version }}-

      - name: "Remove conflicting dependencies that are not needed here"
        run: composer remove --dev phpbench/phpbench rector/rector --no-update

      - name: "Ensure compatibility with legacy factories"
        if: matrix.laravel-version != '^8' && matrix.laravel-version != '^9' && matrix.laravel-version != '^10'
        run: composer remove --dev laravel/legacy-factories --no-update

      - run: composer require illuminate/contracts:${{ matrix.laravel-version }} --no-interaction --prefer-dist --no-progress

      - run: vendor/bin/phpstan

  tests:
    runs-on: ubuntu-20.04

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=10

    strategy:
      matrix:
        php-version:
          - 7.2
          - 7.3
          - 7.4
          - 8.0
          - 8.1
          - 8.2
        laravel-version:
          - 5.6.*
          - 5.7.*
          - 5.8.*
          - ^6
          - ^7
          - ^8
          - ^9
          - ^10
        exclude:
          - php-version: 7.2
            laravel-version: ^8
          - php-version: 7.2
            laravel-version: ^9
          - php-version: 7.2
            laravel-version: ^10
          - php-version: 7.3
            laravel-version: ^9
          - php-version: 7.3
            laravel-version: ^10
          - php-version: 7.4
            laravel-version: ^9
          - php-version: 7.4
            laravel-version: ^10
          - php-version: 8.0
            laravel-version: 5.6.*
          - php-version: 8.0
            laravel-version: 5.7.*
          - php-version: 8.0
            laravel-version: 5.8.*
          - php-version: 8.0
            laravel-version: ^6
          - php-version: 8.0
            laravel-version: ^7
          - php-version: 8.0
            laravel-version: ^10
          - php-version: 8.1
            laravel-version: 5.6.*
          - php-version: 8.1
            laravel-version: 5.7.*
          - php-version: 8.1
            laravel-version: 5.8.*
          - php-version: 8.1
            laravel-version: ^6
          - php-version: 8.1
            laravel-version: ^7
          - php-version: 8.2
            laravel-version: 5.6.*
          - php-version: 8.2
            laravel-version: 5.7.*
          - php-version: 8.2
            laravel-version: 5.8.*
          - php-version: 8.2
            laravel-version: ^6
          - php-version: 8.2
            laravel-version: ^7

    steps:
      - uses: actions/checkout@v3

      - uses: supercharge/redis-github-action@1.1.0
        with:
          redis-version: 6

      - uses: shivammathur/setup-php@v2
        with:
          extensions: ${{ env.REQUIRED_PHP_EXTENSIONS }}
          php-version: ${{ matrix.php-version }}

      - name: "Cache composer dependencies"
        uses: actions/cache@v3
        with:
          path: ~/.composer/cache
          key: php-${{ matrix.php-version }}-composer-${{ matrix.laravel-version }}
          restore-keys: php-${{ matrix.php-version }}-composer-${{ matrix.laravel-version }}-

      - name: "Remove conflicting dependencies that are not needed here"
        run: composer remove --dev nunomaduro/larastan phpstan/phpstan-mockery phpbench/phpbench rector/rector --no-update

      - name: "Ensure compatibility with legacy factories"
        if: matrix.laravel-version != '^8' && matrix.laravel-version != '^9' && matrix.laravel-version != '^10'
        run: composer remove --dev laravel/legacy-factories --no-update

      - run: composer require illuminate/contracts:${{ matrix.laravel-version }} --no-interaction --prefer-dist --no-progress

      - name: Check MySQL version
        run: mysql --host 127.0.0.1 --port ${{ job.services.mysql.ports['3306'] }} -uroot -proot -e "SELECT @@VERSION"

      - name: Create MySQL test database
        run: mysql --host 127.0.0.1 --user=root --port ${{ job.services.mysql.ports['3306'] }} --password=root --execute='CREATE DATABASE test;'

      - name: Execute test
        run: LIGHTHOUSE_TEST_DB_HOST='127.0.0.1' LIGHTHOUSE_TEST_DB_PORT=${{ job.services.mysql.ports['3306'] }} LIGHTHOUSE_TEST_DB_PASSWORD=root vendor/bin/phpunit --colors=always --verbose

  coverage:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        php-version:
          - 8.1
        laravel-version:
          - ^8

    steps:
      - uses: actions/checkout@v3

      - uses: supercharge/redis-github-action@1.1.0
        with:
          redis-version: 6

      - uses: shivammathur/setup-php@v2
        with:
          coverage: pcov
          extensions: ${{ env.REQUIRED_PHP_EXTENSIONS }}
          php-version: ${{ matrix.php-version }}

      - name: "Cache composer dependencies"
        uses: actions/cache@v3
        with:
          path: ~/.composer/cache
          key: php-${{ matrix.php-version }}-composer-${{ matrix.laravel-version }}
          restore-keys: php-${{ matrix.php-version }}-composer-${{ matrix.laravel-version }}-

      - run: composer remove --dev phpbench/phpbench rector/rector --no-update

      - name: "Ensure compatibility with legacy factories"
        if: matrix.laravel-version != '^8' && matrix.laravel-version != '^9' && matrix.laravel-version != '^10'
        run: composer remove --dev laravel/legacy-factories --no-update

      - run: composer require illuminate/contracts:${{ matrix.laravel-version }} --no-interaction --prefer-dist --no-progress

      - run: |
          sudo systemctl start mysql.service
          mysql --user=root --password=root --execute='CREATE DATABASE test;'

      - run: vendor/bin/phpunit --coverage-clover=coverage.xml

      - name: "Upload to Codecov"
        uses: codecov/codecov-action@v2

  benchmarks:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        php-version:
          - 8.1
        laravel-version:
          - ^8

    steps:
      - uses: actions/checkout@v3

      - uses: shivammathur/setup-php@v2
        with:
          extensions: ${{ env.REQUIRED_PHP_EXTENSIONS }}
          php-version: ${{ matrix.php-version }}

      - name: "Cache composer dependencies"
        uses: actions/cache@v3
        with:
          path: ~/.composer/cache
          key: php-${{ matrix.php-version }}-composer-${{ matrix.laravel-version }}
          restore-keys: php-${{ matrix.php-version }}-composer-${{ matrix.laravel-version }}-

      - name: "Ensure compatibility with legacy factories"
        if: matrix.laravel-version != '^8' && matrix.laravel-version != '^9' && matrix.laravel-version != '^10'
        run: composer remove --dev laravel/legacy-factories --no-update

      - run: composer require illuminate/contracts:${{ matrix.laravel-version }} --no-interaction --prefer-dist --no-progress

      - run: vendor/bin/phpbench run --progress=none --report=aggregate
